body {
  background-image: url("./assets/bull.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#search {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;

}

#searchButton {
  background-color: rgb(68, 78, 68);
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}

#info {
  
  background-color: rgba(230, 238, 234, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

#buyButton {
  background-color: rgb(68, 78, 68);
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}